@import '../../components/variables.scss';

.root {

}

.container {
  @mixin container;
  font-size: 5.6vw;
  text-align: justify;

  p {
    margin-top: 0;
    cursor: default;
  }
}

.Body {
  a {
    @mixin link;
  }
}
