@import '../variables.scss';

.SubNavigationButton {
  @mixin button-code;
  width: 100%;
  text-decoration: none;
  // border: .15vw solid $dark-base;
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 2em;
  text-transform: lowercase;
  display: block;
  width: 25%;
  text-align: center;

  &.active {
    pointer-events: none;
    color: $grey-base;
    background: $blue-base !important;
    text-shadow: .05em .05em .05em $dark-base;
    text-indent: 0;
    box-shadow: inset 0 0 .5em $dark-base;

    &:after {
      content: none;
    }
    &:before {
      content: none;
    }
  }
}

@media (max-aspect-ratio: 3/4) {
  .SubNavigationButton {
    width: 50%;
    font-size: 4vw;
  }
}
