@import '../variables.scss';

#contactForm {
  padding: 5vh;
  background: #fff;

  .fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 3vw;

    & > div {
      flex-grow: 1;
    }

    input, textarea {
      border: none;
      border-bottom: .15em solid color(green lightness(+30%));
      padding: .5em;
      outline: none;
      width: 100%;
      margin-bottom: 1em;
      box-shadow: none;
      border-radius: 0;

      &::placeholder {
        color: #333;
      }

      &.error {
        border-bottom: .15em solid $blue-base;
      }
    }
  }

  textarea {

  }

  button {
    @mixin button;
    font-size: 3vw;

    &[disabled] {
      opacity: .5;
    }
  }
}

.thankyou {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.success {
  form {
    visibility: hidden;
  }

  .thankyou {
    display: block;
  }
}

@media (max-aspect-ratio: 3/4) {
  #contactForm {
    padding: 2.5vh;
  }
}

