@import '../variables.scss';

.SubNav {
  lost-flex-container: row;
  align-items: center;
  justify-content: space-between;

  .subNavItem {
    width: calc(33.33% - 1px);
    flex-grow: 1;
    // border: .5px solid $dark-base;
    margin: .5px;
    text-align: center;

    a {
      @mixin button-subnav;
      width: 100%;
      text-decoration: none;
      // border: .15vw solid $dark-base;
      font-size: 1.4vw;
      font-weight: 500;
      line-height: 2em;
      text-transform: lowercase;
      display: block;
    }
  }

  .active {
    pointer-events: none;

    a.ready {
      color: $grey-base;
      background: $blue-base !important;
      text-shadow: .05em .05em .05em $dark-base;
      text-indent: 0;
      box-shadow: inset 0 0 .5em $dark-base;

      &:after {
        content: none;
      }
      &:before {
        content: none;
      }
    }
  }
}

.Home {
  justify-content: center;

  .subNavItem {
    width: calc(50% - 1px);
    flex-grow: 1;

    a {
      padding: 5vh 0;
      font-size: 6vw;

      &:before, &:after {
        padding: 5vh 0 !important;
      }
    }
  }
}

@media (max-aspect-ratio: 4/4) {
  .SubNav {
    .subNavItem {
      width: calc(50% - 1px);

      a {
        font-size: 4vw;
      }
    }
  }

  .Home {
    .subNavItem {
      width: calc(100% - 1px);
    }
  }
}
