@import '../variables.scss';

.SubNav {
  lost-flex-container: row;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;

  .subNavItem {
    width: 24%;
    text-align: center;

    a {
      @mixin button;
      width: 100%;
      padding: 0;
      text-decoration: none;
      border: .15vw solid #333;
      font-size: 1.25vw;
      font-weight: 300;
      line-height: 2em;
      color: #333;
      text-transform: lowercase;

      &:before {

      }

      &:hover {
        color: #ebebeb;
      }

      &:after {
        content: none;
      }
    }
  }
}
