@import '../../components/variables.scss';

.container {
  @mixin container;
}

.Body {
	padding: 5vh;
	background: color(#ebebeb shade(10%));
}

@media (max-aspect-ratio: 3/4) {
	.Body {
		padding: 2.5vh;
	}
}