@import '../../components/variables.scss';
.container {
    @mixin container;
}

.Project {
    position: relative;
    color: #333;
    margin-bottom: 4vw;
    padding: 2.5vh;
    transform: translate3d(0, 0, 0);
    cursor: default;
    font-size: 4vw;
    background: color(#ebebeb shade(10%));
    .inner {
        padding: 5vh;
        background: #fff;
    }
    h1 {
        font-size: 1em;
        line-height: 1em;
        margin: 0 0 2.5vh 0;
    }
    .info {
        margin-bottom: 5vh;
        p {
            font-size: .5em;
            margin: 0;
            line-height: 1.5em;
            text-align: justify;
        }
    }
    button {
        @mixin button-round;
        display: none;
    }

    .Meta {
        lost-flex-container: row;
        align-items: center;
    }

    .Badges {
        flex-grow: 1;
        lost-flex-container: row;
        align-items: center;
        justify-content: space-around;
        
        .badge {
            font-size: .4em;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-weight: 300;
            line-height: 1em;
            overflow: visible;
            padding: .25em .5em;
            color: #ebebeb;
            background: #333;
            box-shadow: .3vmax .3vmax 0 $blue-base;
            margin: 0 0 0 1em;
            pointer-events: none;

            span {
                vertical-align: middle;
            }

            &:before {
                font-family: "Ionicons";
                display: inline;
                vertical-align: middle;
                font-size: 1em;
                font-weight: normal;
                font-style: normal;
                text-transform: none;
                text-rendering: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                margin-right: .5em;
            }

            &.html5 {
                &:before {
                    content: '\f4e3';

                }
            }

            &.css3 {
                &:before {
                    content: '\f4df';
                }
            }

            &.js {
                &:before {
                    content: '\f4e5';
                }
            }

            &.nodejs {
                &:before {
                    content: '\f4e7';
                }
            }

            &.mobile {
                &:before {
                    content: '\f1fa';
                }
            }
        }
    }
}

@media (max-aspect-ratio: 3/4) {
    .Project {
        font-size: 8vw;

        .inner {
            padding: 5vw;
        }

        .Badges {

            .badge {
                font-size: .5em;
                box-shadow: none;
                margin: 0 0 .5em 0;
            }
        }
    }
}
