@import '../../components/variables.scss';
.container {
    @mixin container;
}

.Bio {
    margin-bottom: 5vh;
    padding: 5vh;
    background-color: $white-base;
    border: .5em solid $dark-base;
    font-size: 2vw;
    text-align: justify;
}

.Project {
    position: relative;
    color: $font-color;
    margin-bottom: 4vw;
    padding: 2.5vh;
    transform: translate3d(0, 0, 0);
    cursor: default;
    font-size: 4vw;
    background: $light-grey;
    .inner {
        padding: 5vh;
        background: $white-base;
    }
    h1 {
        font-size: 1em;
        line-height: 1em;
        margin: 0 0 2.5vh 0;
    }
    .info {
        margin-bottom: 5vh;
        p {
            font-size: .5em;
            margin: 0;
            line-height: 1.5em;
            text-align: justify;

            a {
                @mixin link;
            }
        }
    }

    .Meta {
        lost-flex-container: row;
        align-items: center;

        & > button, & > a {
            @mixin link;
            text-decoration: none;
            font-size: 2vw;
            font-weight: 500;
            padding: .5em 1em;
            color: $grey-base;
            background-color: $blue-base;
        }
    }

    .Badges {
        flex-grow: 1;
        lost-flex-container: row;
        align-items: center;
        justify-content: flex-end;
        
        .badge {
            font-size: .4em;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-weight: 500;
            line-height: 1em;
            overflow: visible;
            padding: .25em .5em;
            color: $grey-base;
            background: $dark-base;
            box-shadow: .3vmax .3vmax 0 $blue-base;
            margin: 0 0 0 1em;
            pointer-events: none;

            span {
                vertical-align: middle;
            }

            &:before {
                font-family: "Ionicons";
                display: inline;
                vertical-align: middle;
                font-size: 1em;
                font-weight: normal;
                font-style: normal;
                text-transform: none;
                text-rendering: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                margin-right: .5em;
            }

            &.html5 {
                &:before {
                    content: '\f4e3';

                }
            }

            &.css3 {
                &:before {
                    content: '\f4df';
                }
            }

            &.jquery, &.javascript, &.react-js, &.gsap {
                &:before {
                    content: '\f4e5';
                }
            }

            &.node-js {
                &:before {
                    content: '\f4e7';
                }
            }

            &.mobile {
                &:before {
                    content: '\f1fa';
                }
            }

            &.wordpress {
                &:before {
                    content: '\f249';
                }
            }

            &.tumblr {
                &:before {
                    content: '\f241';
                }
            }
        }
    }
}

@media (max-aspect-ratio: 4/4) {
    .Bio {
        padding: 5vw;
        font-size: 4vw;
        margin-bottom: 2vw;
    }
    .Project {
        font-size: 6vw;
        padding: 2vw;

        .Meta {
            justify-content: space-around;

            & > button, & > a {
                font-size: .6em;
                width: 60%;
                text-align: center;
            }
        }

        .info {
            margin-bottom: 4vw;
        }

        .inner {
            padding: .83em;
        }

        .Badges {
            width: 100%;
            justify-content: space-around;
            order: -1;
            margin-bottom: 4vw;

            .badge {
                font-size: .5em;
                box-shadow: none;
                margin: 0 0 .5em 0;
            }
        }
    }
}
