@import '../variables.scss';

nav {
  lost-flex-container: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;

  .item {
    text-align: center;
    width: 30%;

    a {
      @mixin button;
      width: 100%;
      padding: 0;
      border-bottom-width: .2vmax;
      font-size: 3vw;
    }

    &.active {
      a {
        pointer-events: none;
        background-color: #333;
        border: none;
        margin-bottom: .2vmax;
        box-shadow: .3vmax .3vmax 0 $blue-base;
        transition: background 150ms;

        i {
            visibility: hidden;
        }
        &:after {
            color: #ebebeb;
            top: 50%;
        }
      }
    }
  }
}