@import '../variables.scss';

.Header {
  lost-flex-container: row; 
  margin-bottom: 2.5%;

  & > div {
  	lost-column: 1/2 0 0;
  	cursor: default;
  }

  .logo {
  	text-align: right;

  	img {
  		width: 80%;
  	}
  }
}
