@import '../variables.scss';

.Header {
  lost-flex-container: row; 
  margin-bottom: 5vh;

  & > div {
  	lost-column: 1/2 0 0;
  	cursor: default;
  }

  .logo {
  	text-align: right;

  	img {
  		width: 80%;
  	}
  }
}

@media (max-aspect-ratio: 4/4) {
  .Header {
    lost-flex-container: column;
    margin-bottom: 2vw;

    & > div {
      lost-column: 1/1 0 0;
    }

    .logo {
      order: -1;
      margin-bottom: 5vw;
      text-align: center;

      img {
        width: 50%;
      }
    }
  }
}
