@lost flexbox flex;
@lost gutter 1.5rem;

/*
 * Colors
 * ========================================================================== */

$white-base: #ffffff;
$blue-base: hsla(208, 100%, 50%, 1);
$dark-base: #333;
$grey-base: #ebebeb;
$light-grey: color($grey-base shade(10%));


/*
 * Typography
 * ========================================================================== */

$font-family-base: 'Prompt', serif;
$font-color: #333333;

/*
 * Layout
 * ========================================================================== */

$max-content-width: 1200px;

/*
 * Mixins
 * ========================================================================== */

@define-mixin container {
    margin: 0 auto;
    padding: 5vh 5vh 0;
    margin: 0 auto;
    font-size: 1.8em;

    @media (max-aspect-ratio: 4/4) {
        .container {
            padding: 2vw 2vw 0;
        }
    }
}

@define-mixin button {
    padding: 1% 5%;
    display: block;
    vertical-align: middle;
    color: $font-color;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border: none;
    outline: none;
    border-bottom: .10em solid $blue-base;
    transition: color 300ms;
    transform: translate3d(0,0,0);
    i {
    	display: block;
        animation: bottom-to-center 300ms forwards;
        transform: translateY(100%);
        opacity: 1;
        transition: opacity 300ms;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $dark-base;
        z-index: -1;
        transform: translateY(100%);
        animation: center-to-bottom 300ms forwards;
    }
    &:after {
        content: attr(data-text);
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: .5em;
        font-weight: 500;
        line-height: 1em;
        color: $grey-base;
        text-transform: lowercase;
        opacity: 1;
        transition: opacity 300ms, top 300ms;
    }
    &:hover:not([disabled]) {
        color: $grey-base;
        transition: color 150ms;

        i {
            animation: center-to-bottom 150ms forwards;
            opacity: 1;
            transition: opacity 150ms;
        }
        &:before {
            animation: bottom-to-center 150ms forwards;
        }
        &:after {
            top: 50%;
            opacity: 1;
            transition: opacity 150ms, top 150ms;
        }
    }
}

@define-mixin button-nav {
    font-size: 2.25vw;
    position: relative;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    color: $font-color;
    font-weight: 500;
    line-height: 1em;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;

    i {
        display: block;
        width: 100%;
        height: 100%;
        padding: .5em 1em;
        background: $light-grey;
        color: $font-color;
        transform: translateY(100%);
        will-change: transform;
    }

    &:after {
        content: attr(data-text);
        display: block;
        width: 100%;
        height: 100%;
        padding: .5em 1em;
        font-size: .85em;
        position: absolute;
        top: 0;
        left: 0;
        background: $grey-base;
        color: $font-color;
        transform: translateY(0%);
        will-change: transform;
        text-decoration: none;
    }

    &.ready {
        transition: border 300ms;

        i {
            color: $grey-base;
            background-color: $dark-base;
            animation: top-to-center 300ms linear forwards;
        }

        &:after {
            animation: center-to-bottom 300ms linear forwards;
        }
    }

    &:hover {
        i {
            animation: center-to-bottom 150ms linear forwards;
        }

        &:after {
            animation: top-to-center 150ms linear forwards;
        }
    }
}

@define-mixin button-subnav {
    font-size: 2vw;
    position: relative;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: $light-grey;
    background-size: 0 0;
    background-repeat: no-repeat;
    background-origin: center 33%;
    background-position: center 33%;
    color: $font-color;
    font-weight: 500;
    padding: .5em 1em;
    line-height: 1em;
    display: inline-block;
    overflow: hidden;

    &.ready {
        background-size: cover;
        color: transparent;

        &:before {
            content: attr(data-text);
            display: block;
            width: 100%;
            height: 100%;
            padding: .5em 1em;
            position: absolute;
            top: 0;
            left: 0;
            background: $dark-base;
            color: $grey-base;
            transform: translateY(-100%);
            will-change: transform;
            animation: top-to-center 500ms ease-out forwards;
            animation-delay: 300ms;
        }

        &:after {
            content: attr(data-text);
            display: block;
            width: 100%;
            height: 100%;
            padding: .5em 1em;
            position: absolute;
            top: 0;
            left: 0;
            background: $light-grey;
            color: $font-color;
            transform: translateY(100%);
            will-change: transform;
            animation: center-to-bottom 500ms ease-in forwards;
        }
    }

    &:hover {
        &:before {
            animation: center-to-bottom 300ms ease-in forwards;
        }

        &:after {
            animation: top-to-center 300ms ease-out forwards;
            animation-delay: 300ms;
        }
    }
}

@define-mixin link {
    border: none;
    outline: none;
    border-radius: 0;
    color: $blue-base;
    text-decoration: underline;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzMzMzMzMzt9Cjwvc3R5bGU+CjxyZWN0IHk9IjAiIGNsYXNzPSJzdDAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: color 300ms, background-size 300ms;
    &:hover {
        color: #fff;
        background-size: 100% 100%;
        transition-delay: 1.5s, 1.5s;
        transition: color 150ms, background-size 150ms;
    }
}

@define-mixin loading-animation {
    content: 'loading...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: .25em .5em;
    line-height: 1em;
    background: $grey-base;
    font-size: 5vw;
    font-weight: 500;
    color: $font-color;
    text-align: center;
    animation: loading-text 2s;
    animation-delay: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 425px;

/* Extra small screen / phone */

$screen-sm-min: 768px;

/* Small screen / tablet */

$screen-md-min: 992px;

/* Medium screen / desktop */

$screen-lg-min: 1200px;

/* Large screen / wide desktop */


/*
 * Animations
 * ========================================================================== */

$animation-swift-out: .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;

@keyframes top-to-center {
    0% {
     transform: translateY(-100%);
    }

    100% {
     transform: translateY(0%);   
    }
}

@keyframes center-to-bottom {
    0% {
     transform: translateY(0%);
    }

    100% {
     transform: translateY(100%);
    }
}

@keyframes bottom-to-center {
    0% {
     transform: translateY(100%);
    }

    100% {
     transform: translateY(0%);
    }
}

@keyframes loading-text {
    0% {
        content: 'l';
    }
    10% {
        content: 'lo';
    }
    20% {
        content: 'loa';
    }
    30% {
        content: 'load';
    }
    40% {
        content: 'loadi';
    }
    50% {
        content: 'loadin';
    }
    60% {
        content: 'loading'
    }
    70% {
        content: 'loading.'
    }
    80% {
        content: 'loading..'
    }
    90% {
        content: 'loading...'
    }
    100% {
        content: 'loading...'
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
