@import '../variables.scss';

.photo {
  background-color: color(#ebebeb shade(10%));
  margin-bottom: 5vw;
  width: 100%;

  .img {
    background-color: #333;
    background-image: url(./candystripe-transparent.gif);
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-name: background;
    width: 100%;
  }

  &.ready {
    .img {
      animation-play-state: paused;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #fff;
    }
  }

  .caption {
    padding: 3.75vw 2.5vw 3.5vw;
    background-color: #fff;
    color: #333;
    font-size: 2vw;
    line-height: 1.5em;
    text-align: center;

    span {
      // background: #333;
    }
  }
}

@keyframes background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}
@media (max-aspect-ratio: 12/7) {
  .photo {
    .img {
      padding-left: 0 !important;
    }
  }
}

@media (min-aspect-ratio: 12/7) {
  .photo {
    margin-bottom: 5vh;
    padding: 2.5vh 0;

    .caption {
      padding: 1.5em 1em 1.25em;
      border: 1em solid #fff;
      background: #333;
      font-size: 2.5vh;
      margin: 0 1em;
      color: #ebebeb;
    }

    .img {
      width: 0;
      height: 85vh;
      max-height: 85vh;
      margin: 0 auto;
      position: relative;
      border: 2.5vh solid #fff;
      border-bottom-width: 0;
      max-width: 95%;
      padding-top: 0 !important;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}