@import '../variables.scss';

.SiteViewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $dark-base;

  iframe {
    width: 100%;
    height: 95vh;
    outline: 0;
    border: 0;
  }

  .nav {
    height: 5vh;
    color: $grey-base;

    .close {
      font-size: 5vh;
      line-height: 1.1em;
    }
  }
}